body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body.claro {
    background-color: #fefaef;
}
body.oscuro {
    background-color: black;
}
body.azul {
    background-color: #e7f8ff;
}
body.rosa {
    background-color: #fedee3;
}
body.verde {
    background-color: #e3ffe4;
}
header {
    background-color: #007aff;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header.claro {
    background-color: #fea500;
}
header.oscuro {
    background-color: #666666;
}
header.azul {
    background-color: #add9e6;
}
header.rosa {
    background-color: #ffa6d2;
}
header.verde {
    background-color: #a3f6a4;
}
header h1 {
    color: white;
    margin-left: 0.4rem;
    font-size: 2rem;
}
header h1.claro {
    color: #3e2f1f;
}
header h1.oscuro {
    color: white;
}
header h1.azul {
    color: #004d99;
}
header h1.rosa {
    color: #80017d;
}
header h1.verde {
    color: #126400;
}
label {
    color: white;
}
label.claro {
    color: white;
}
label.oscuro {
    color: white;
}
label.azul {
    color: #1a679a;
}
label.rosa {
    color: #973081;
}
label.verde {
    color: #845400;
}
.form1 {
    font-size: 1rem;
}
.form1 select {
    font-size: 0.8rem;
    width: 6rem;
}
option.claro {
    color: gray;
}
option.oscuro {
    background-color: black;
    color: white;
}
option.azul {
    background-color: #add9e6;
    color: blue;
}
option.rosa {
    background-color: #1967d3;
    color: white;
}
option.verde {
    background-color: #a3f6a4;
    color: green;
}
.form2 textarea {
    width: 95%;
    margin-bottom: 1.5rem;
    font-size: 0.8rem;
    border-radius: 5px;
}
.form2 textarea.claro {
    background-color: #fffadd;
}
.form2 textarea.oscuro {
    background-color: #434343;
}
.form2 textarea.azul {
    background-color: white;
}
.form2 textarea.rosa {
    background-color: #fef6f4;
}
.form2 textarea.verde {
    background-color: #f1fff0;
}
.form2 {
    display: flex;
    flex-direction: column;
}
button {
    font-size: 0.9rem;
    width: 8rem;
    height: 2.5rem;
    border-radius: 5px;
    background-color: #017afd;
    color: white;
    border: none;
    cursor: pointer;
}
button.claro {
    background-color: #ffa600;
    color: #a86700;
}
button.oscuro {
    background-color: #69676a;
    color: white;
}
button.azul {
    background-color: #87cef8;
    color: #256fa3;
}
button.rosa {
    background-color: #fea7d3;
    color: #973d81;
}
button.verde {
    background-color: #a6f8a5;
    color: #358a2d;
}
.contenido {
    margin: 1.5rem;
}
h2 {
    font-size: 2rem;
}
h2.claro {
    color: #2f353a;
}
h2.oscuro {
    color: white;
}
h2.azul {
    color: #004d99;
}
h2.rosa {
    color: #8e417e;
}
h2.verde {
    color: #075e0e;
}
h3 {
    color: gray;
    font-size: 1rem;
}
.oculto {
    display: none;
}
.nota {
    background-color: #f9f9f9;
    border-radius: 5px;
    padding: 0.5rem;
    border: 1px solid #f0f0f0;
    margin-bottom: 0.4rem;
}
.nota button {
    font-size: 0.9rem;
    width: 8rem;
    height: 2.5rem;
    border-radius: 5px;
    background-color: #017afd;
    color: white;
    border: none;
    cursor: pointer;
}